.all-events {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    
}

.event-index-item {
    width: 310px;
    height: 490px;
    border: rgb(228, 217, 217) 1px solid;
    margin-bottom: 40px;

    
}
.event-index-item:hover{
    box-shadow: 0 0 11px #a5bfff;; 
}

.index-item-image {
    width: 310px;
    height: 310px;
    overflow-x: hidden;
    position: relative;
 

    // border: black 1px solid;
}

.index-photo {
    width: 460px;
    margin-left: -70px;

}

.index-image{
    width: 2005px;
    height: 576.52px;
    // border: blue 1px solid;
    justify-content: center;
    display: flex;
    // background-color: aquamarine;
    background: url("concert-performance.jpeg");
background-position: 0px -220px;
}


// USER EVENT INDEX
.displayed-events{
    display: flex;
    justify-content: center;
   
}
.displayed-events ul{
    display: flex;
    flex-direction: column;
    width: 1256px;
}

.user-events-index-image{
    width: 2005px;
    height: 576.52px;
    border: blue 1px solid;
}

.user-event-index-item {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    border: red 1px solid;
    width: 1272px;
    height: 88px;
    margin-bottom: 15px;
}
.user-event-index-item-edits{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.user-event-date{
    border: 1px brown solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 56px;
    width:  56px;
    margin-top: 15px;
    margin-left: 20px;


    
}

.user-event-info-time{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px black solid;
    padding: 5px;
    margin-left: 5px;
    
}
.user-event-pic{
    height: 56px;
    width: 56px;
    border: 1px solid black;
    display: flex;
    margin-top: 15px;
    margin-left: 5px;
}


.popular {
    height: 92px;
    border: 1px green solid;
    display: flex;
}

#like-button{
    display: flex;
    position: sticky;
    width: 50px;
    height: 50px;
    // position: fixed;
    // padding-bottom: 200px;
   
    margin-top: -207px;
    margin-left: 230px;
    // margin-right: 200px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    // border: 5px black solid;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    border-radius: 90px;
    // background-color: white;
    // backface-visibility: visible;
    width: 40px;
    height: 40px;
    z-index: 99999;
    color: rgb(255, 255, 255);
    // outline: 1px red solid;
    // bottom: 0;
    // right: 0;
    // left: 0;
}
#like-button:hover{
    color: #6627CC;
}
#like-circle{
    display: flex;
    position: sticky;
    // width: 50px;
    // height: 50px;
    font-size: 45px;
    // background-color: aquamarine;
    // position: fixed;
//     // padding-bottom: 200px;
//    z-index: 1;
    margin-top: -45px;
    margin-left: 193px;
    // margin-right: 200px;
    align-items: center;
    justify-content: center;
    // background-color: green;
    color:rgb(240, 237, 237);
    border-radius: 90px;
    // border: cornflowerblue solid 1px;
}




.index-photo{
    height: 100%;
}

.index-item-copy{
    font-family: 'Roboto', sans-serif;
}

#index-location{
    color: #6f7287;
    padding-left: 10px;
    font-size: 12px;

}
#index-startdate{
    color: #22C2CC;
    font-size: 10px;
    padding-left: 10px;
}

#index-starttime{
    color: #39364f;

}

#index-title{
    color: #39364f;
    font-size: 20px;
    font-weight: 700;
    
   
}
.event-index-title-box{
    position: relative;
    width: 240px;
    height: 35px;
    padding-top: 8px;
    // border: #1E8CD4 1px  solid;
    padding-bottom: 10px;
    padding-left: 10px;

}

.title-display{
    font-family: 'Permanent Marker', cursive;
    width: 500px;
    height: 500px;
    // border: 3px white solid;
    z-index: 99px;
    display: flex;
    position: absolute;
    color: white;
    font-size: 70px;
    margin-right: 1400px;
    margin-top: 30px;

}
#each-word{
    display: flex;
    position: absolute;

}

.the-the{
    font-size: 110px;
}

.moment-moment{
    margin-top: 70px;
    font-size: 40px;
    margin-left: 230px;
    
}

.has-has{
    margin-left: 90px;
    font-size: 50px;
    margin-top: 130px;

}

.come-come{
    font-size: 110px;
    margin-top: 110px;
    margin-left: 220px;
}
.dash{
    font-size: 450px;
    margin-top: -100px;
    margin-left: 240px;
}
.exclaim{
    font-size: 240px;
    margin-left: 570px;
}
.dash2{
    font-size: 200px;
    margin-top: 35px;
    margin-left: 80px;
}

.picture-button{
    display: flex;
    position: absolute;
    font-size: 13px;
    color: white;
    width: 165px;
    height: 44px;
    background:#1454f6;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    margin-left: -900px;
    margin-top: 400px;
    box-shadow: #39364f;
    
    
}
.picture-button:hover{
    background:#1454f6;
}

