body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    // color: #39364f;
    font-family: 'Roboto', sans-serif;
    // font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
 }
 
 .login-page{
  font-family: 'Roboto', sans-serif;
 }
 
 
  header {
     display: flex;
     justify-content: space-between;
  }
  .email-input-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 20px;
    padding-right: 112px;
    margin-right: 164px;
    font-size: 13px;
    position: absolute;
  }

  .password-input-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 20px;
    padding-right: 112px;
    margin-right: 164px;
    font-size: 13px;
    position: absolute;

  }
  .login-input{
    display: flex;
    justify-content: center;
    // justify-content: flex-start;
    // padding-bottom: 20px;
    // padding-top: -10px;
    padding-left: 8px;
    font-size: 20px;
    width: 97%;
    height: 100%;
    position: static;
    background-color: rgb(255, 255, 255);
    // border-color: rgb(207, 197, 197);

  }
  .login-input:focus{
    border: 2px blue solid;

    .email-input-text{
      color:aqua;
    }
    // border-width: 362px;
    // border-height: 
  }
  .text-input-border{
  //   border: 1px rgb(207, 197, 197) solid;
    width: 500px;
  }
  .text-input-border:focus{
    border-color: blue;
    
  }

  .login-input-label {
     display: flex;

    //  align-items: center;
    //  justify-content: space-between;
    //  border: none;
    //  background-color: rgb(255, 255, 255);
     justify-content: center;
     position: relative;
     border-style: solid;
     border-radius: 4px;
     border-color: rgb(113, 111, 111);
     border: 1px solid #cdd6fa;
    //  border-width: 1px;
   
     /* border-color: black; */
     width: 360px;
     height: 50px;
  }
  

  .login-site-name{
    font-size: 25px;
    font-weight: bold;
    color:#1454f6;
    font-family: 'Reem Kufi', sans-serif;
    
   
  }

  .signup-site-name{
    font-size: 25px;
    font-weight: bold;
    color:#1454f6;
    font-family: 'Reem Kufi', sans-serif;
    display: flex;
    position: absolute;
    margin-left: 188px;
    margin-top: 40px;
  }
 

  .login-contains{
    display: flex;
    position: absolute;
    margin-left: 10px;
  }
  
  .signup-from-login{
    position: absolute;
    margin-top: 140px;
    color:#1454f6;

  }
  
 
  .login-button-input{
    display: flex;
     align-items: center;
     color:white;
     background-color: #1454f6;;

     justify-content: center;
     position: relative;
     border-style: solid;
     border-radius: 2px;
     border-color: rgb(207, 197, 197);
     border-width: 1px;
   
     /* border-color: black; */
     width: 360px;
     height: 50px;

  }
 
  .log-in-log-in{
    font-size: 50px;
    font-family: 'Inter', sans-serif;

  }
  .sign-up-sign-up{
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    display: flex;
    position: absolute;
    margin-left: 186px;
    margin-top: 66px;

  }
 
  .login-page {
    display: flex;
    flex-direction: row;
   
  
  }
 
  .login-form {
    width: 788px;
    padding-right: 14%;
    padding-left: 13%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    position: relative;
    height: 650px;
 
  }
  .signup-form {
    width: 788px;
    padding-right: 14%;
    padding-left: 13%;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    position: relative;
    height: 650px;
    
 
  }
 
 
  .login-form-image {
    height: 100%;
    width: 83%;
    display: flex;
    position: absolute;
    margin-left: 715px;
    margin-top: -679px;
    

  }

  .login-from-signup{
    position: absolute;
    margin-top: 460px;
    color:#1454f6;
    font-family: 'Roboto', sans-serif;

  }
  .login-form-image2{
    width: 100%;
    height: 800px;

    display: flex;
    position: absolute;
    margin-left: 560px;
    margin-top: -156px;
    

  }


  .signup-site-name1{
    font-size: 25px;
    font-weight: bold;
    color:#ffffff;
    font-family: 'Reem Kufi', sans-serif;
    display: flex;
    position: absolute;
  //   margin-left: 188px;
    margin-left: 40px;
  // }
  }

  .ensombriter{
    font-size: 25px;
    font-weight: bold;
    color:#1454f6;
    font-family: 'Reem Kufi', sans-serif;
    display: flex;
    position: absolute;
    margin-left: 190px;
    margin-top: 33px;
  // }
  }
