// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.regi-bar {
    border: black 1px solid;
    padding: 12px;
    width: 680px;
    height: 115px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    margin-left: 370px;
    border-radius: 5px;

}

.ticket-title{
    // border: black 1px solid;
    width: 200px;
    padding-bottom: 50px;
    padding-top: 80px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 370px;
    font-weight: 700;
}

.regi-photo{
    height: 56px;
    width: 56px;
    // border: 1px solid black;
    display: flex;
    margin-top: 15px;
    margin-left: 5px;
}